extends layout

block content
  h1(class="headline") #{title}
  h2 Welcome to #{title}
  p A utility to spin up Apache Spark Clusters on AWS and Digital Ocean
  form(name= "main_select", method="get")
    div.actions
      input(type= "submit", value= "AWS" class="main_select", formaction="/aws/")
      input(type= "submit", value= "Digital Ocean" class="main_select", formaction="/digitalocean/")
